<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-smsmanager"
    version="1.0.0">
    <name>SMS Manager</name>
	  <description>Cordova plugin to Read and Receive SMS in Android</description>
	  <author>Mohammed Sufyan AL Yousufi</author>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/ymohammad/cordova-plugin-smsmanager.git</repo>
    <issue>https://github.com/ymohammad/cordova-plugin-smsmanager/issues</issue>
    <engines>
	    <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/SMSManager.js" name="SMSManager">
        <runs/>
        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="window.SMSManager" />
      </js-module>
    <!-- android -->
    <platform name="android">
      
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="SMSManager">
          <param name="android-package" value="com.droaidsoft.cordova.sms.SMSManager" />
        </feature>
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/*">
        <uses-feature android:name="android.hardware.telephony" android:required="false" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        <uses-permission android:name="android.permission.RECEIVE_SMS" />
		    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
		    <uses-permission android:name="android.permission.RECEIVE_MMS" />
        <uses-permission android:name="android.permission.READ_SMS" />
		    <uses-permission android:name="android.permission.WRITE_SMS" />
        <uses-permission android:name="android.permission.SEND_SMS" />
      </config-file>

      <!--Main files-->
      <source-file src="src/android/com/droaidsoft/cordova/sms/SMSManager.java" target-dir="src/com/droaidsoft/cordova/sms/" />
      <source-file src="src/android/com/droaidsoft/cordova/sms/SMSUtils.java" target-dir="src/com/droaidsoft/cordova/sms/" />
      <source-file src="src/android/com/droaidsoft/cordova/sms/PluginUtils.java" target-dir="src/com/droaidsoft/cordova/sms/" />

      <source-file src="src/android/com/droaidsoft/cordova/sms/exceptions/CursorJsonConverstionException.java" target-dir="src/com/droaidsoft/cordova/sms/exceptions/" />
      <source-file src="src/android/com/droaidsoft/cordova/sms/services/SmsReceiver.java" target-dir="src/com/droaidsoft/cordova/sms/services/" />
      
      <!--Constants-->
      <source-file src="src/android/com/droaidsoft/cordova/sms/constants/AppConstants.java" target-dir="src/com/droaidsoft/cordova/sms/constants/" />
      <source-file src="src/android/com/droaidsoft/cordova/sms/constants/Filter.java" target-dir="src/com/droaidsoft/cordova/sms/constants/" />
    </platform>
</plugin>
